<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">[[#{app.title}]]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/js/app.js}" defer></script>
</head>
<body>
	<header class="bg-light">
		<div class="container">
			<nav class="navbar navbar-light navbar-expand-md">
				<a th:href="@{/}" class="navbar-brand"> 
					<img th:src="@{/images/logo.png}" th:alt="#{app.title}" width="30" height="30" class="d-inline-block align-top">
					<span class="ps-1">[[#{app.title}]]</span>
				</a>
				<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle" th:aria-label="#{navigation.toggle}" aria-controls="navbarToggle" aria-expanded="false">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggle">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a th:href="@{/}" class="nav-link">[[#{navigation.home}]]</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<main class="my-5">
		<div class="container">
			<h2>[[#{tipocultivo.titulo}]]</h2>
			
			<br/>
			<!-- Botão para adicionar novo tipo de cultivo -->
			<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCultivoModal">[[#{projeto.botao.novo}]]</button>
			
			<a 
				th:href="@{/clientes}"
				class="btn btn-secondary ">[[#{projeto.botao.voltar}]]
			</a>
			
			<br/>
			<br/>
			
			<!-- Tabela com os tipos de cultivo do cliente -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>[[#{tipocultivo.id}]]</th>
						<th>[[#{tipocultivo.descricao}]]</th>
						<th>[[#{tipocultivo.acoes}]]</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cultivo : ${tiposCultivos}">
						<td th:text="${cultivo.id}">1</td>
						<td th:text="${cultivo.descricao}">Tipo de Cultivo 1</td>
						<td>
							<!-- Botão para excluir o tipo de cultivo -->
							<a href="#" class="btn btn-danger btn-sm" th:attr="data-id=${cultivo.id}" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">[[#{projeto.botao.excluir}]]</a>
						</td>
					</tr>
				</tbody>
			</table>

			
		</div>

		<!-- Modal para adicionar um novo tipo de cultivo -->
		<div class="modal fade" id="addCultivoModal" tabindex="-1" aria-labelledby="addCultivoModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addCultivoModalLabel">[[#{tipocultivo.novo.adicionar}]]</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="addCultivoForm" th:action="@{/clientesTipoCultivo/adicionar}" method="post">
							<input type="hidden" name="clienteId" th:value="${clienteId}">
							<div class="mb-3">
								<label for="cultivoSelect" class="form-label">[[#{tipocultivo.novo.selecionar}]]</label>
								<select id="cultivoSelect" name="cultivoId" class="form-select" required>
									<option value="">[[#{tipocultivo.novo.selecionar.descricao}]]</option>
									<option th:each="cultivoDisponivel : ${tiposCultivosDisponiveis}" th:value="${cultivoDisponivel.id}" th:text="${cultivoDisponivel.descricao}"></option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary">[[#{projeto.botao.adicionar}]]</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal de confirmação de exclusão -->
		<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="confirmDeleteModalLabel">[[#{projeto.botao.excluir.confirmar}]]</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						[[#{tipocultivo.excluir.confirmar.descricao}]]
					</div>
					<div class="modal-footer">
						<form id="deleteForm" method="post" th:action="@{/clientesTipoCultivo/excluir}">
							<input type="hidden" id="cultivoIdToDelete" name="cultivoId">
							<input type="hidden" name="clienteId" th:value="${clienteId}">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">[[#{projeto.botao.cancelar}]]</button>
							<button type="submit" class="btn btn-danger">[[#{projeto.botao.excluir}]]</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
 <footer class="footer bg-light py-3">
   <div class="container text-center">
       <span class="text-muted">© 2024 AgroPlus. Todos os direitos reservados.</span>
   </div>
</footer>
</body>
</html>
